{% extends 'layout.html' %} {% block title %} Community {% endblock %} 
{% block content %}
    <section>
        <h1>Communities</h1>
    
        {% for community in communities %}
        <article class="community">
            <h2>
                <a href="{%  url 'communities:page' slug=community.slug %}"> {{ community.name }} </a>
            </h2>
            <p>{{ community.description }}</p>
            <p>{{ community.date }}</p>
        </article>
        {% endfor %}
    </section>
{% endblock %}

