* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, p {
    justify-content: center;
}

/* главная страница */

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

nav {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}