{% extends 'layout.html' %}

{% block title %}
    обо мне
{% endblock %}

{% block content %}
    <div class="home">
        <h1>Обо мне</h1>
        
        <p>Привет! Меня зовут Данияр, и я являюсь разработчиком этого веб-приложения.</p>

        <h2>Мои навыки:</h2>
        <ul>
            <li>Python/Django разработка</li>
            <li>Frontend разработка (HTML, CSS, JavaScript)</li>
            <li>Работа с базами данных</li>
        </ul>

        <h2>Образование:</h2>
        <p>Я учусь в колледже КИТЭК на "Веб разработчика"</p>

        <h2>Увлечения:</h2>
        <p>В свободное время я увлекаюсь:</p>
        <ul>
            <li>Изучением новых технологий</li>
            <li>Чтением технической литературы</li>
        </ul>
    </div>
{% endblock %}