{% extends 'layout.html' %}

{% block title %}
    Добро пожаловать на наш сайт
{% endblock %}

{% block content %}
    <div class="home">
        <h1>Добро пожаловать в наше сообщество!</h1>
    
        <p>Мы рады приветствовать вас на нашей платформе, где каждый может делиться своими мыслями, находить единомышленников и создавать интересные сообщества.</p>
    
        <h2>Что вы можете делать на нашем сайте:</h2>
        <ul>
            <li>Создавать и читать увлекательные посты</li>
            <li>Создавать свои собственные группы по интересам</li>
        </ul>
        <p>Присоединяйтесь к нам и станьте частью нашего дружного сообщества!</p>
    </div>


    
{% endblock %}
